[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/lordmathis/hugo-theme-nightfall.git
