name: Deploy to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Build Hugo site
        run: hugo --gc --minify

      - name: Deploy via SFTP with Password
        uses: BaseMax/GitHubAction-SFTP-Deploy-Password@main
        with:
          host: ${{ secrets.FTP_SERVER }}
          port: 22
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./public/
          remote-dir: /
