name: Deploy to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Build Hugo site
        run: hugo --gc --minify

      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2
        with:
          username: ${{ secrets.FTP_USERNAME }}
          server: ${{ secrets.FTP_SERVER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local_path: './public/*'
          remote_path: '/public_html'
          sftpArgs: '-o ConnectTimeout=5'
